$("#p_word_row_ch_<%= @word.id %>").html("<%= j(render :partial => 'render_for_word/p_word_row_ch', :locals=>{word: @word, passage: @passage}) %>");
$("#progress_bar_render_wrapper_ch").html("<%= j(render :partial => 'render_common/progress_ch', :locals=>{progress: @progress_ch}) %>");
$("#memorized_status_ch").html("<%= j(render :partial => 'render_common/memorized_status', :locals=>{memorized_count: @memorized_count_ch, all_count: @all_count, progress: @progress_ch}) %>");

// 円グラフ
$(function(){
  var $ppc = $('.progress-pie-chart-ch'),
    percent = parseInt($ppc.data('percent')),
    deg = 360*percent/100;
  if (percent > 50) {
    $ppc.addClass('gt-50');
  }
  $('.ppc-progress-fill-ch').css('transform','rotate('+ deg +'deg)');
  $('.ppc-percents-ch span').html(percent+'%');
});

// パンパカパーン
<% if @progress_ch == 100 %>
	$('#get-feedback-here').html('<div class="feedback">全ての単語にチェックがつきました！</div>')
	confetti({
	    particleCount: 300,
	    spread: 70,
	    origin: {
	        y: 0.6
	    }
	});
  $(function(){
    setTimeout("$('.feedback').fadeOut('slow')", 2800);
  })
<% end %>