<p><%= @user.name %>さん、ご登録ありがとうございます！</p>
<br>


<p>MeiTianは、教材をすべて貯められる！そのまますぐに勉強できる！中国語学習アプリです</p>
<p>単語や文章を貯めて、スマホ・タブレットで毎日コツコツ勉強しましょう</p>
<br><br>


<p><a href="https://note.mu/meitian/n/n54c6670c3111">こちら</a>から使い方ガイドをご覧ください！</p>

<p><%= @user.name %>さんのマイページは<a href="<%= user_url(@user) %>">こちら</a>