$("#sentence_card_ja_<%= @sentence.id %>").html("<%= j(render :partial => 'sentences/sentence_card_ja', :locals=>{paper: @sentence.paper, s: @sentence}) %>");
$("#progress_bar_render_wrapper_sentence_ja").html("<%= j(render :partial => 'render_common/progress_sentence_ja', :locals=>{progress: @progress_sentence_ja}) %>");
$("#memorized_status_sentence_ja").html("<%= j(render :partial => 'render_common/memorized_status', :locals=>{memorized_count: @memorized_sentence_count_ja, all_count: @all_sentence_count, progress: @progress_sentence_ja}) %>");

// 円グラフ
$(function(){
  var $ppc = $('.progress-pie-chart-sentence-ja'),
    percent = parseInt($ppc.data('percent')),
    deg = 360*percent/100;
  if (percent > 50) {
    $ppc.addClass('gt-50');
  }
  $('.ppc-progress-fill-sentence-ja').css('transform','rotate('+ deg +'deg)');
  $('.ppc-percents-sentence-ja span').html(percent+'%');
});

// パンパカパーン
<% if @progress_sentence_ja == 100 %>
  $('#get-feedback-here').html('<div class="feedback">全ての短文にチェックがつきました！</div>')
  confetti({
      particleCount: 300,
      spread: 70,
      origin: {
          y: 0.6
      }
  });
  $(function(){
    setTimeout("$('.feedback').fadeOut('slow')", 2800);
  })
<% end %>