$("#sentence-card-<%= @sentence.id %>").html("<%= j(render :partial => 'sentences/sentence_card_ja', :locals=>{paper: @sentence.paper, s: @sentence}) %>");
$("#progress-bar-render-wrapper").html("<%= j(render :partial => 'render_common/progress', :locals=>{progress: @progress}) %>");
$("#memorized_status").html("<%= j(render :partial => 'render_common/memorized_status', :locals=>{memorized_count: @memorized_count, all_count: @all_count}) %>");

// パンパカパーン
<% if @progress == 100 %>
	$('#get-feedback-here').html('<div class="feedback">全ての短文にチェックがつきました！</div>')
	confetti({
	    particleCount: 300,
	    spread: 70,
	    origin: {
	        y: 0.6
	    }
	});
  $(function(){
    setTimeout("$('.feedback').fadeOut('slow')", 2800);
  })
<% end %>