<div class="row">
	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8" >
			<table class="table table-sm">
				<thead class="border-b-double">
					<tr>
						<th scope="col" class="">中</th>
						<% if user_signed_in? && passage.user_id == current_user.id %>
							<th scope="col" class=""></th>
						<% end %>
						<th scope="col" class="">日</th>
						<th scope="col" class="">pin</th>
					</tr>
				</thead>
				<tbody class="">
					<% words.each do |word| %>
						<tr id="p_word_row_ch_<%= word.id %>">
							<%= render :partial => 'render_for_word/p_word_row_ch', :locals=>{passage: passage, word: word} %>
						</tr>
					<% end %>
				</tbody>
			</table>
	</div>
</div>