<% content_for :title do %>
	マイ教材 | MeiTian
<% end %>

<!-- <div class="me-jump-to-note">
	<a href="https://note.mu/meitian/n/n54c6670c3111" target="_blank" onclick="ga('send', 'event', 'outbound', 'note_how_to_use_meitian', 'link_in_me');">かんたん使い方ガイド</a>
</div> -->

<% if @user.goal.present? %>
	<div class="balloon1-top">
		<p>
			<%= @user.goal %>
		</p>
	</div>
<% end %>

<% if @user.goal.blank?%>
	<%= link_to edit_user_registration_path(@user) do %>
		<div class='card-alert'>
			タスク：中国語学習の目標を決めましょう！
		</div>
	<% end %>
<% end %>


<!-- PSRリスト -->
<%= render :partial => 'users/psr_list', :locals=>{user: @user, passages: @passages, passages_cnt: @passages_cnt, papers: @papers, papers_cnt: @papers_cnt, rings: @rings, rings_cnt: @rings_cnt} %>