<footer class="container-fluid visible-xs">
  <div class="row topline">
    <div class="col-xs-2 center-align footer-link font-25">
      <%= link_to :back do %><<% end %>
    </div>
    <% if @user == current_user %>
      <!-- 勉強方法変更ボタン -->
      <div class="col-xs-5 center-align footer-link">
        <div type="button"  data-toggle="modal" data-target="#change_study_method_sp">
          <!--          長文も単語もあり          -->
          <% if @all_count > 0 && @passage.ch.present? %>
            <span class="tab-content-sp tab-content-show-sp font-14 font-bold">
              単語（中→日）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              単語（日→中）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              長文
            </span>
            勉強方法
          <!--          単語のみ          -->
          <% elsif @all_count > 0 && @passage.ch.blank? %>
            <span class="tab-content-sp tab-content-show-sp font-14 font-bold">
              単語（中→日）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              単語（日→中）
            </span>
            勉強方法
          <% end %>
        </div>
      </div>
      <!-- ステータス変更ボタン -->
      <div class="col-xs-5 center-align footer-link">
        <span id="passage-status-btns-sp"><%= render :partial => 'passages/passage_status_sp', :locals=>{passage: @passage} %></span>
      </div>
    <% else %>
      <!-- 勉強方法変更ボタン -->
      <div class="col-xs-5 center-align footer-link">
        <div type="button"  data-toggle="modal" data-target="#change_study_method_sp">
          <!--          長文も単語もあり          -->
          <% if @all_count > 0 && @passage.ch.present? %>
            <span class="tab-content-sp tab-content-show-sp font-14 font-bold">
              単語（中→日）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              単語（日→中）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              長文
            </span>
            勉強方法
          <!--          単語のみ          -->
          <% elsif @all_count > 0 && @passage.ch.blank? %>
            <span class="tab-content-sp tab-content-show-sp font-14 font-bold">
              単語（中→日）
            </span>
            <span class="tab-content-sp font-14 font-bold">
              単語（日→中）
            </span>
          <% end %>
        </div>
      </div>
      <div class="col-xs-5 center-align">
        <div class="prim-mini-btn margin-tb-10 font-12 visible-xs" data-toggle="modal" data-target="#copy_to_mylist_modal">マイ教材に追加</div>
      </div>
    <% end %>
  </div>
</footer>