<div class="progress-pie-chart-ja" data-percent="<%= progress %>">
  <div class="ppc-progress">
    <div class="ppc-progress-fill-ja"></div>
  </div>
  <div class="ppc-percents-ja">
    <div class="pcc-percents-wrapper">
      <span>%</span>
    </div>
  </div>
</div>