$("#passage-status-btns").html("<%= j(render :partial => 'passages/passage_status', :locals=>{passage: @passage}) %>");

// モーダルを閉じる
$(function() {
  $('body').removeClass('modal-open');
  $('.modal-backdrop').remove();
  $('#icesword').modal('hide');
});

// パンパカパーン
$('#get-feedback-here').html('<div class="feedback">完了おめでとうございます！</div>')
confetti({
    particleCount: 300,
    spread: 70,
    origin: {
        y: 0.6
    }
});
$(function(){
  setTimeout("$('.feedback').fadeOut('slow')", 2800);
})