<% content_for :title do %>
  <%= @passage.title %> | Meitianで中国語を勉強
<% end %>

<div id="passage_show_body">
  <%= render :partial => 'passages/show_render' %>
</div>

<div class="empty-sm">
</div>

<!-- サンプルの場合チュートリアルを表示 -->
<% if @passage.sample == true && @user == current_user %>
  <%= render :partial => 'tutorial/tutorial_passage' %>
<% end %>