<% content_for :title do %>
  <%= @passage.title %> | Meitianで中国語を勉強
<% end %>

<%= render :partial => 'passages/passage_show_common', :locals=>{user: @user, passage: @passage, memorized_words_ch_count: @memorized_words_ch_count, all_words_count: @all_words_count, progress: @progress, words: @words} %>


<!-- 単語リスト -->
<section class='words' id='passage-words-ch'>
	<% if @words.present? %>
		<%= render :partial => 'render_for_word/p_word_ch_table', :locals=>{passage: @passage, words: @words} %>
	<% end %>
</section>

<%= render :partial => 'passages/passage_render', :locals=>{user: @user, passage: @passage} %>

</div><!-- End of Container -->

<div class="empty-sm">
</div>