/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "params";
@import "explores";
@import "mes";
@import "p_words";
@import "papers";
@import "passages";
@import "r_words";
@import "rings";
@import "s_words";
@import "sentences";
@import "users";


//--------------- 配置 ----------------
.float-right{  float: right;}
.float-left{  float: left;}
.left-align{  text-align: left;}
.right-align{  text-align: right;}
.center-align{  text-align: center;}
.letter-bottom{  vertical-align: baseline; }
.indent{  padding-left: 30px;}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-center{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
}
.mg-auto{ margin: 0 auto;}
.mg-0{ margin: 0;}
.margin-l-10{  margin-left: 10px;}
.margin-b-20{  margin-bottom: 20px;}
.margin-b-40{  margin-bottom: 40px;}
.margin-t-20{  margin-top: 20px;}
.margin-t-50{  margin-top: 50px;}
.margin-tb-20{  margin: 20px 0;}
.padding-tb-20{  padding: 20px 0;}
.padding-t-20{  padding-top: 20px;}

.width-100{
  width: 100%;
}

//--------------- ポジション ----------------
.relative{
  position: relative;
}



//--------------- 文字色 ----------------
.fontcol-prim{color: $Prim;}
.fontcol-lightprim{color: $LightPrim;}
.fontcol-black{color: black}
.fontcol-white{color: white}


//--------------- 文字サイズ ----------------
.font-bold{font-weight: 800;}
h1{ font-size: 20px; font-weight: 800; }
.font-12{ font-size: 12px;}
.font-16{ font-size: 16px;}

.h1-margin{  margin: 10px 0 20px;}


//--------------- 背景色 ----------------
.bg-prim{  background-color: $Prim;}
.bg-lightprim{  background-color: $LightPrim;}
.bg-grey{ background-color: #f2f2f2;}
.bg-grey-mid{ background-color: #c1c1c1;}



//--------------- ボタン ----------------
.prim-btn{
  background-color: $Prim;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.prim-solid-btn{
  background-color: white;
  color: $Prim;
  padding: 5px 10px;
  border-radius: 10px;
  border: solid 1px $Prim;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.grey-btn{
  background-color: #979797;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.grey-solid-btn{
  background-color: white;
  color: #979797;
  padding: 1px 10px;
  border-radius: 10px;
  border: solid 1px #979797;
  letter-spacing: 0.1em;
  cursor: pointer;
}
.action-float-btn
  {
  position: fixed;
  bottom: 65px;
  right: 15px;
  box-shadow: 0 1px 6px 1px rgba(0,0,0,0.19);
  }
.action-float-btn-left
  {
  position: fixed;
  bottom: 65px;
  left: 15px;
  box-shadow: 0 1px 6px 1px rgba(0,0,0,0.19);
  }
.form-send-btn{
  background-color: $Prim;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  z-index: 200;
  }
.form-send-btn:hover{
  color: white;
  text-decoration: none;
}
.copy-action-btn{
  background-color: $Prim;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  z-index: 200;
}
// 今使ってるのは、passageのsp用の日本語訳表示ボタンのみ
.secondary-action-btn{
  background-color: white;
  border: solid 1px $Prim;
  color: $Prim;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  z-index: 200;
  }
.langchange-btn-selected{
	background-color: $Prim;
	color: white;
	font-size: 15px;
	font-weight: 800;
	padding: 5px 15px;
	margin: 0 2px;
  border-radius: 5px;
  border: none;
}
.langchange-btn-unselected{
	background-color: white;
	color: $Prim;
  font-size: 15px;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 2px;
  border-radius: 5px;
  border: 1px solid $Prim;
  cursor: pointer;
}
select{
  height: 50px;
  width: 100%;
}
.click_disable{
  pointer-events: none;
  opacity: 0.5;
}


//--------------- ライン ----------------
.underline{
  border-bottom: 1px solid black;
}
.topline{
  border-top: 1px solid black;
}
.under-marker-lightprim{
  background: linear-gradient(transparent 70%, $LightPrim 70%);
}
.undermarker-prime{
  background: linear-gradient(transparent 70%, $Prim 70%);
}
.border-b-double{
  border-bottom: double 4px black;
}
.no-underline, .no-underline:hover{
  text-decoration: none !important;
  a, a:hover{
    text-decoration: none;
  }
}

//--------------- インプット ----------------
textarea, input{
  border-radius: 5px;
  border: 1px solid #979797;
}


//--------------- データバッチ ----------------
// databadge top right
span[data-badge-top-right]{
  display: block;
  position: relative;
}
span[data-badge-top-right]:before {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  font-size: 12px;
  min-width: 20px;
  line-height: 1;
  border: $Prim 1px solid;
  padding: 4px;
  color: $Prim;
}
span[data-badge-top-right]:before {
  top: 0;
  right: 0;
  transform: translate(75%, -50%);
  content: attr(data-badge-top-right)"";
}
.explanation{
  font-size: 12px;
  margin-left: 10px;
}

//--------------- 文字バッチ ----------------
.status-badge{
  margin-left: 5px;
  padding: 3px 7px;
  font-size: 10px;
  border-radius: 10px;
}
.status-badge:hover{
  text-decoration: none;
}

.badge-black{
  color: white;
  background-color: $Black;
}
.badge-red{
  color: white;
  background-color: $Red;
}
.badge-blue{
  color: white;
  background-color: $Blue;
}
.badge-green{
  color: white;
  background-color: $Green;
}
.badge-white{
  color: $Black;
  border: 1px solid $Black;
  // background-color: $Green;
}




//-----------------アイコン-----------
.smallicon{
	width: 20px;
	height: 20px;
	border-radius: 10px;
}




//-----------------空欄配置-----------
.empty{
  height: 270px;
}
.empty-sm{
  height: 100px;
}


/*******************************
* 固定系
********************************/
.brand-top {
  // position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  background: $Prim;
  color: white;
  z-index: 100;
  line-height: 40px;
  text-align: center;
  }

.header-icon{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-top: 5px;
  border: solid 2px white;
  background-color: white;
}

.header-how-btn{
  color: white;
  padding: 5px 10px;
  margin: 6px 0;
  border-radius: 10px;
  border: solid 1px white;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.brand-title{
  // font-size: 16px;
  // font-family: DotumChe;
  // font-weight: 800;
}
.brand-catch{
  // font-size: 12px;
}


.contents{
  margin: 0 0 51px;
}

a, a:hover{
	color: black;
}

footer{
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 51px;
  background: white;
  z-index: 10;
  color: black;
  font-size: 10px;
  .footer-link{
  	padding-top: 5px;
  }
	a:link, a:visited, a:hover, a:active { 	color: black; text-decoration: none; }
	.selected { color: $Prim; text-decoration: none; }
}


/*******************************
* 不変系
********************************/
//--------------- 対策 ----------------//
pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}
.notice, .alert{
  text-align: center;
  background-color: $Point;
  color: white;
  margin:0;
  padding: 15px 0;
}
.feedback{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $Point;
  z-index: 200;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-align: center;
  color: white;
  line-height: 60px;
}

.devise-error{
  width: 100%;
  background-color: $Point;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

//----------------- pagenatiom ------------------//
.pagination-wrapper{
  width:100%;
}

.pagination{
  width:100%;
  .active .page-link{
    background: $Prim;
    border-color: $Prim;
  }
  .page-link{
    color: #000000;
  }
}

//----------------- card ------------------//
.card{
	background: #FFFFFF;
	box-shadow: 0 1px 6px 1px rgba(0,0,0,0.19);
	border-radius: 7px;
	padding: 20px;
	margin: 15px 0;
}
.card-title{
	font-size: 12px;
	margin-bottom: 10px
}
.card-content{
	font-size: 18px;
}
.card-alert{
  background: $Point;
  box-shadow: 0 1px 6px 1px rgba(0,0,0,0.19);
  border-radius: 7px;
  padding: 20px;
  margin: 15px 0;
  color: white;
  .cp_list{
    margin-bottom: 0;
  }
}



//----------------- hint ------------------//
.sample-hint{
  font-size: 12px;
  position: fixed;
  bottom: 57px;
  left: 7px;
  color: $Point;
  background: white;
  box-shadow: 0 1px 6px 1px rgba(0,0,0,0.19);
  border: 1px solid $Point;
  border-radius: 7px;
  padding: 10px;
  animation: fluffy 3s ease infinite;
}

@keyframes fluffy {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}

.hint{
  font-size: 12px;
  color: $Point;
  background: white;
  border: 1px solid $Point;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  .cp_list{
    margin-bottom: 0;
    li{
      padding-bottom: 0;
    }
  }
}

.hint-no-border{
  text-align: center;
  font-size: 12px;
  color: $Point;
}

//----------------- progress bar ------------------//
.progress{
  border-radius: 15px;
  height: 15px ;
  .progress-bar{
    line-height: 16px;
    background-color: #979797;
  }
}
.progress-bar-wrapper{
  margin: 30px 0;
  a{
    color: $Prim
  }
}

//----------------- form ------------------//
.form-title{
  font-size: 30px;
  font-weight: 800;
  margin: 40px 0 20px;
}
.form-section{
  margin: 20px 0;
}
textarea{
  width: 100%;
}



//----------------- status btns ------------------//
.status-btns{
  margin-bottom: 15px;
  .status-btn{
    color: black;
    border: 1px solid $Grey;
  }
  .status-btn, .status-btn:hover{
    cursor: pointer;
    padding: 7px 13px;
    margin-right: 5px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
  }
  .status-on-grey{
    background-color: $Black;
    color: white;
    pointer-events: none;
    border: none;
  }
  .status-on-red{
    background-color: $Red;
    color: white;
    pointer-events: none;
    border: none;
  }
  .status-on-blue{
    background-color: $Blue;
    color: white;
    pointer-events: none;
    border: none;
  }
  .status-on-green{
    background-color: $Green;
    color: white;
    pointer-events: none;
    border: none;
  }
  .status-off-red, .status-off-red:hover{
    color: $Black;
    font-weight: 500;
    border: 1px solid $Red;
  }
  .status-off-blue, .status-off-blue:hover{
    color: $Black;
    font-weight: 500;
    border: 1px solid $Blue;
  }
  .status-off-green, .status-off-green:hover{
    color: $Black;
    font-weight: 500;
    border: 1px solid $Green;
  }
  .status-off-grey, .status-off-grey:hover{
    color: $Black;
    font-weight: 500;
    border: 1px solid $Black;
  }
}




/*******************************
* リスト
********************************/
ul.cp_list {
  padding:0.5em;
  list-style-type:none;
}
ul.cp_list li {
  position:relative;
  padding: 0em 0.3em 1.3em 1.3em;
}
ul.cp_list li:after,ul.cp_list li:before {
  position:absolute;
  content:'';
  display:block;
  background: #FFC107;
  top: 0.43em;
  left: 0.5em;
  height: 11px;
  width: 4px;
  border-radius: 10px;
  transform: rotate(45deg);
}
ul.cp_list li:before {
  top: 0.6em;
  left: 0.2em;
  height:8px;
  transform:rotate(-45deg);
}



/*******************************
* バルーン
********************************/
.icon{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	margin-left: 15px;
}
.balloon-wrapper{
  position: relative;
	max-width: 100%
}
.left_balloon {
		color: black;
    position: relative;
    background: #F5F5F5;
    // margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    // clear: both; //アイコン横に並べるため。
    float: left;
    margin: 0 0 0 45px;
    max-width: 80%;
    font-size: 12px;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #F5F5F5;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-width: 8px;
    margin-top: -8px;
}


// バルーントップ
.balloon1-top {
  position: relative;
  display: inline-block;
  margin: 15px 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 12px;
  background: #F5F5F5;
  border-radius: 10px;
}

.balloon1-top:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 24px;
  margin-left: -15px;
  border: 7px solid transparent;
  border-bottom: 15px solid #F5F5F5;
}

.balloon1-top p {
  margin: 0;
  padding: 0;
}



/*******************************
* モーダル
********************************/
#passage-ja-modal {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 300;
  max-width: 1140px;
  max-height: 40vh;
  box-sizing: border-box;
  margin-right: 15px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $Black;
  background-color: white;
  overflow: auto;
}
.active {
  display: block !important;
}
#passage-ja-modal-close{
  position: fixed;
  z-index: 300;
  right: 20px;
  bottom: 3px;
  background-color: $Prim;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 800;
  letter-spacing: 0.1em;
  cursor: pointer;
  text-align: center;
}
.modal-title{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
#passage-tutorial-modal{
  position: fixed;
  width: 90%;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 300;
  max-height: 40vh;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $Black;
  background-color: white;
}

#passage-tutorial-modal-close{
  float: right;
  z-index: 300;
  background-color: $Prim;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: none;
  font-weight: 800;
  cursor: pointer;
  text-align: center;
}

/* vertically Centered modal for マイ教材にコピーボタン */
.modal-centered {
  text-align: center;
  padding: 0!important;
}
.modal-centered:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog-centered {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}




/*******************************
* フッター　新規作成ナビ
********************************/
// --------------------------
#toggle-nav{
  cursor: pointer;
}
.nav-item-circle:hover {
  background-color: $LightPrim;
}
.nav-item {
  margin-top: 50px; //待機時画面からはみ出させて見えなくする処理
  position: absolute;
  left: 50%;
  text-align: center;
  -webkit-transition: all .2s cubic-bezier(0,.42,.42,1);
  -moz-transition: all .2s cubic-bezier(0,.42,.42,1);
  -o-transition: all .2s cubic-bezier(0,.42,.42,1);
  transition: all .2s cubic-bezier(0,.42,.42,1);
}
.nav-item-circle {
  color: white;
  padding-top: 5px;
  font-weight: 800;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  text-align: center;
  background-color: $Prim;
  border-radius: 50%;
}
.nav-item-text{
  margin-left: -45px;
}
nav a:nth-child(1) .slide-out {
  -webkit-transform: translate(0px, -200px);
  transform: translate(0px, -200px);
}
nav a:nth-child(2) .slide-out {
  -webkit-transform: translate(0px, -260px);
  transform: translate(0px, -260px);
}

nav a:nth-child(3) .slide-out {
  -webkit-transform: translate(0px, -320px);
  transform: translate(0px, -320px);
}

nav .slide-out-for-text {
  transform: translate(0px, -350px);
}// scale(1.2)





/*******************************
* wave
********************************/

.box {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  position: absolute;
  top: 3%;
  left: 50%;
  background: $Prim;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -400px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  opacity: .4;
  background: $Prim;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .2;
  background: $Prim;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
.wave-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 50px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
  text-decoration: underline;
  a{
    color: white;
    cursor: pointer;
  }
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}





/*******************************
* 縮むボタンなど、単語のチェックボタン系
********************************/

.row-checked{
  color: #828282;
  a{
    color: #828282;
  }
}

.contraction_btn_uncheck{
  background-color: $Prim;
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  width: 22px;
  height: 22px;
}
.contraction_btn_check{
  border: 1px solid #828282;;
  width: 22px;
  height: 22px;
  transform: scale(0.85);
}

.contraction_btn {
  color: white !important;
  border-radius: 50%;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.contraction_btn:hover{
   cursor: pointer;
   text-decoration: none;
  -webkit-animation: contraction_btn 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: contraction_btn 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: contraction_btn 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes contraction_btn{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@-moz-keyframes contraction_btn{
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
@keyframes contraction_btn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}
