// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.explore-title{
	font-size: 20px;
	font-weight: 800;
	margin: 30px 0;
}
.psr-content-sub{
	font-size: 12px;
	margin-top: 5px;
}
.explore-users{
	.user-name{
		line-height: 30px;
		margin-left: 7px;
	}
	img{
		height: 30px;
		weight: 30px;
		border-radius: 15px;
	}
}


.explore-top-xs{
	background-color: $Prim;
	text-align: center;
	h2{
		font-size: 25px;
		font-weight: 800;
		padding-top: 40px;
		padding-bottom: 40px;
		letter-spacing: 5px;
		margin: 0 !important;
	}
	img{
		width: 100%;
	}
}

.explore-top{
	@media screen and (max-width: 480px) {
		h2{
			color: $Prim;
			font-size: 30px;
			font-weight: 800;
			text-align: center;
			letter-spacing: 5px;
			margin: 0 !important;
			padding: 30px 0;
		}
		p{
			color: $Prim;
			font-size: 12px;
			text-align: center;
			margin: 0 !important;
			padding-bottom: 30px;
		}
	}
	@media screen and (min-width: 481px) {
		h2{
			color: $Prim;
			font-size: 45px;
			font-weight: 800;
			text-align: center;
			letter-spacing: 10px;
			margin: 0 !important;
			padding: 30px 0;
		}
		p{
			color: $Prim;
			font-size: 15px;
			text-align: center;
			margin: 0 !important;
			padding-bottom: 30px;
		}
	}
	img{
		width: 100%;
	}
	.link-to-note{
		text-align: center;
		text-decoration: underline;
		a{
			color:$Prim;
		}
	}
}

.explore-top-img{
	width: 100%;
	max-width: 500px;
}

.list-user-img{
	img{
		height: 22px;
		weight: 22px;
		border-radius: 11px;
	}
}
.list-text-with-img{
	line-height: 28px;
	margin-left: 7px;
}