// Place all the styles related to the passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ---------------SHOW-------------
.psr-show-user{
	margin: 10px 0;
}
.edit-btn{
	margin-top: 10px;
}
.passage{
	a, a:hover{
		color: $Prim;
		font-size: 12px;
	}
}
.passage-title{
	font-size: 30px;
	font-weight: 800;
	margin: 10px 0 30px;
}
.word-bar{
}
.passage-content{
	font-size: 16px;
	line-height : 1.75;
	letter-spacing:0.8pt;
}
.passage-ja-title{
	font-size: 18px;
	font-weight: bold;
	margin: 50px 0 10px;
}
.words{
	margin-top: 50px;
	a, a:hover{
		color: $LightPrim;
	}
	.bg-grey{
		a{
			color: black;
		}
	}
}
.word-title{
	font-size: 18px;
	font-weight: bold;
}
.ja-ch-exchange{
	margin: 10px 0 20px;
}
.all-uncheck-btn{
	margin: 10px 0;
	text-align: center;
}


// ---------------NEW-------------
.new-passage-title{
	width: 100%;
}
.new-passage-content{
	textarea{
		height: 200px;
	}
}

// ---------------EDIT-------------
.psr-delete-btn{
	float: right;
	margin: 15px 15px 0 0;
}