<!-- サンプルの場合に表示するモーダル -->
<div class="modal fade modal-centered" id="tutorial-rings" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content center-align">
      <div class="modal-body">

        <!-- スマホ表示 -->
        <div class='visible-xs'>
          <p class="margin-tb-5">サンプルの単語帳を作成しました！</p>
          <img alt="img" src="/images/tutorial-rings.png" class="width-100 max-width-260">
          <p class="margin-tb-5">
            右手でスマホを持ち、親指で操作します。<br>
            解答を隠しながら暗記勉強ができます。
          </p>
          <button type="button" class="btn prim-big-btn margin-tb-10" data-dismiss="modal">暗記勉強を始める</button>
        </div>

        <!-- タブレット以上 -->
        <div class='visible-sm visible-md visible-lg'>
          <p class="margin-tb-5">サンプルの単語帳を作成しました！</p>
          <img alt="img" src="/images/tutorial-rings.png" class="width-100 max-width-300">
          <p class="margin-tb-5">
            覚えた単語にはチェックをつけていきましょう！<br>
            スマホでより便利に暗記学習ができます。
          </p>
          <button type="button" class="btn prim-big-btn margin-tb-10" data-dismiss="modal">暗記勉強を始める</button>
        </div>
      </div>
    </div>
  </div>
</div>
