<% content_for :title do %>
  <%= @ring.name %> | Meitianで中国語を勉強
<% end %>


<%= render :partial => 'rings/rings_show_common', :locals=>{user: @user, ring: @ring, progress: @progress, words: @words} %>


<!-- 単語リスト -->
<section class='words' id='ring-words-ch'>
	<% if @words.present? %>
		<%= render :partial => 'render_for_word/r_word_ch_table', :locals=>{ring: @ring, words: @words} %>
	<% end %>
</section>


</div><!-- End of Container -->

<div class="empty-sm">
</div>

<!-- サンプルの場合チュートリアルを表示 -->
<% if @ring.sample == true && @user == current_user %>
  <%= render :partial => 'tutorial/tutorial_rings_ch' %>
<% end %>